<div >
   <h2>Draw/Remove/Drag a marker</h2>
    <div id="panel" >  
       <input ng-click="vm.deleteMarkers()" type=button value="Clear all">
    </div>
    <ng-map center="43.769562, 11.255814" zoom="8" on-click="vm.addMarker()">
        <marker ng-if="vm.position" position="{{vm.position.lat}}, {{vm.position.lng}}"></marker>
    </ng-map> 
</div>
