  <p>
  <ng-map zoom="8" 
  center="43.769562, 11.255814"
    map-type-id="ROADMAP" 
    street-view-control-options="{position: 'LEFT_CENTER'}">
    <drawing-manager 
      on-overlaycomplete="vm.onMapOverlayCompleted()"
      drawing-control-options="{position: 'TOP_CENTER'}"
      drawingControl="true"
      drawingMode="null" 
      rectangleOptions="{fillColor:'red'}"
      markerOptions="{editable:true}" 
      circleOptions="{fillColor: '#FFFF00',fillOpacity: 1,strokeWeight: 5,clickable: false,zIndex: 1,editable: true}" >
    </drawing-manager>
  </ng-map> 
 </p>
 <br>   
 <p>   
     {{vm.content}}
 <p> 