<h2>Draw/Remove/Drag a polygon</h2>
<div ng-controller="Polygon_exampleCtrl as vm">
<input ng-click="vm.clearAll()" type=button value="Clear all">
<ng-map zoom="8" center="43.769562, 11.255814" map-type-id="ROADMAP" street-view-control-options="{position: 'LEFT_CENTER'}">
    <drawing-manager on-overlaycomplete="vm.onMapOverlayCompleted()" drawing-control-options="{position: 'TOP_CENTER',drawingModes:['polygon']}"
        drawingControl="true" drawingMode="null" polygonOptions="{draggable: true}">
    </drawing-manager>   
</ng-map>  
Kordinatat : {{ vm.polygon.getPath().b}}
</div>