<h2> Marker </h2>
 <map center="[40.74, -74.18]">
  <marker position="[40.74, -74.18]"  ></marker>
 </map>        
<h2> Custom Marker</h2>
 <map center="41.850033,-87.6500523" zoom="3">
     <custom-marker position="41.850033,-87.6500523">
       <div>
         <b>Home</b>
        </div>
      </custom-marker> 
 </map>
 <h2>Directions</h2>
  <map center="41.850033,-87.6500523" zoom="3">
<map zoom="14" center="37.7699298, -122.4469157">
     <directions 
       draggable="true"
       panel="directions-panel"
       travel-mode="{{travelMode}}"
      waypoints="[{location:'kingston', stopover:true}]"
      origin="{{origin}}"
      destination="{{destination}}">
     </directions>
  </map> 
  <h2>Drawing manager</h2>
 <map zoom="13" center="37.774546, -122.433523" map-type-id="ROADMAP">
    <drawing-manager
       on-overlaycomplete="onMapOverlayCompleted()"
       position="ControlPosition.TOP_CENTER"
       drawingModes="POLYGON,CIRCLE"
       drawingControl="true"
       circleOptions="fillColor: '#FFFF00';fillOpacity: 1;strokeWeight: 5;clickable: false;zIndex: 1;editable: true;" >
     </drawing-manager>
   </map> 